$font-size-big: 84px;
$font-size-section-heading: 64px;
$font-size-regular-text: 24px;
$font-size-main-heading: 40px;

$font-size-main-form: 14px;

$font-size-blog-title: 54px;

$font-size-card-title: 28px;
$font-size-card-text: 18px;

$font-size-button: 20px;
$font-size-button-book: 36px;

$font-size-navbar: 20px;

$font-size-book-label: 16px;
$font-size-book-input: 18px;
