$font-size-big: 84;
$font-size-section-heading: 64;
$font-size-regular-text: 24;
$font-size-main-heading: 40;

$font-size-main-form: 14;

$font-size-blog-title: 54;

$font-size-card-title: 28;
$font-size-card-text: 18;

$font-size-button: 20;
$font-size-button-book: 36;

$font-size-navbar: 20;

$font-size-book-label: 16;
$font-size-book-input: 18;
